Header {
  padding: 0;
  background: #fff !important;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  .header-wrapper {
    max-width: 960px;
    margin: auto;
    display: flex;

    .h-search {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .search-text {
        width: 14rem;
      }
    }
  }
  .m-title {
    width: 60px;
    font-size: 1.33rem;
    padding: 0 1.2rem;
  }
}
